*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(270deg,#16caea,#0ed283, #c248c2, #e8ebee,#16caea);
    animation: gradientAnimation 15s ease infinite;
}
@keyframes gradiantAnimation {
    0%{ background-position: 0% 50%;}
    50%{background-position: 100% 50%; }
    100%{background-position: 0% 50%;}   
}



/* CARD SECTION */


/* ================= LOGIN / SIGNUP ================= */

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    text-align:center;
}

.login-card,
.signup-card{
    background:rgba(33, 227, 215, 0.95);
    color: #0820d8;
    padding:28px;
    width:500px;
    border-radius:14px;
    box-shadow:0 15px 35px rgba(0,0,0,0.45);
}


.login-card input,
.signup-card input{
    width:100%;
    padding:12px;
    margin:10px;
    border-radius:7px;
    border:none;
}

.login-card button,
.signup-card button{
    width:100%;
    padding:12px;
    margin: 2%;
    border:none;
    font-size: large;
    border-radius:7px;
    background:#e8ebee;
    color:rgb(29, 8, 219);
    cursor:pointer;
}

header{
    color: #141314;
    font-family: 'Times New Roman', Times, serif;
    padding: 2%;
    margin: 2%;
    font-size: 80px;
    font-weight: bold;
}
.hidden {
    display: none;
}



.logout-btn{
    background:#d8d4d4;
   
}

.logout-btn:hover{
    background:#4807d6;
     width: 100%;
}

.login-card button:hover,
.signup-card button:hover{
    background:#375eb9;
     width: 100%;
}

/* ================= RESPONSIVE ================= */

@media(max-width:600px){

    .navbar{
        flex-direction:column;
        align-items:flex-start;
    }

    nav{
        margin-top:10px;
    }

    .section{
        width:90%;
    }
}
footer{
    position: fixed;
    bottom: 2%;
    width: 100%;
    color: #0820d8;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
}